DATABASE_URL=
S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Example of fuzzerArgs
# Medusa
{
    "config": "medusa.json",
    "timeout": "30"
}

# Echidna
{
    "pathToTester": ".",
    "contract": "CryticTester",
    "corpus-dir": "echida" # Note that we will likely use this to override a custom corpus setting from a client
    config: "echidna.yml",
    testLimit: 1000
}